form {
  margin: 0 auto 4rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 90%;
  max-width: 800px;
}

form input {
  font-size: 2rem;
  padding: 0.75rem;
  width: 60%;
  max-width: 45rem;
  border-radius: 1rem;
  border: 2px solid #ff5353;
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

form button {
  padding: 0.1rem 3rem;
  border-radius: 1rem;
  border: 1px solid #ff5353;
  background-color: #ff5353;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all ease 0.2s;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

form button:hover {
  background-color: transparent;
  color: #ff5353;
}
